body{
background-color:rgb(217, 170, 167);
text-align: center;
}
h1{
text-align:center;
color:black;
font-family: 'Lobster', cursive;
}
.chocolate{
color:black;
}
h3{
color: white;
}
ul{
  list-style: inside;
  text-align: left;
  width: 280px;
  margin: 0 auto;
  color:white;
  font-size: 18px
}
.paragraph{
  text-align:left;
  width: 580px;
  margin: 0 auto;
  color:white;
  font-size:20px;
}
div .border{
  border:4px solid black;
  height:4px;
  width:1980px;
  margin:50px;
  padding:10px;
  margin:auto;
}
.link{
  color:white;
  font-size:20px;
}
table {
  background-color: blue;
}
iframe{
  margin:50px;
  padding: 5px;
}
.first hover{
  font-size:20px;
}
#link a{
  color:white;
}
